# Virtual Environment
venv/
env/
.venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment variables
.env
*.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Model files
model/*.pkl
*.pkl

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# System files
.DS_Store
Thumbs.db